.table {
    display: flex;
    flex-direction: column;
    width: 1075px;
    background: #ffffff;
    color: black;
    border-left: 1px solid #E3E6EC;
    border-right: 1px solid #E3E6EC;
    .table-string {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #E3E6EC;
        .table-cell {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-left: 1px solid #E3E6EC;
            box-sizing: border-box;
            padding: 20px;
            margin: 0;
            p {
                padding-right: 50px;
            }
        }
        .table-cell:first-of-type {
            width: 50%;
            border: none;
        }
    }
}